* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(107, 139, 109);
}

#board {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.square {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(197, 197, 197);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 11px;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 5px;
}

.square.red {
    background-color: red;
    color: white;
    background-image: url('./virus-solid.svg');
    background-size: 66%;
    background-position: center center;
    background-repeat: no-repeat;
}

.square.n0 {
    background-color: rgb(226, 226, 226);
    color: rgb(226, 226, 226);
}

.square.n1 {
    background: rgb(37, 128, 37);
    color: white;
}

.square.n2 {
    background: rgb(26, 167, 131);
    color: white;
}

.square.n3 {
    background: rgb(36, 75, 146);
    color: white;
}

.square.n4 {
    background: rgb(118, 20, 143);
    color: white;
}

.square:not(.clicked):hover {
    background-color: rgb(134, 134, 134);
    transform: scale(1.05);
}

.modal-container {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.342);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    display: none;
}

.modal-container.active {
    display: flex;
}

.modal {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
    padding: 1rem;
    border: 1.5rem solid rgb(185, 133, 201);
    font-family: sans-serif;
    text-align: center;
}
