* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(107, 139, 109);
}

#board {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.square {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(197, 197, 197);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 11px;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 5px;
    color: rgb(197, 197, 197);
    position: relative;
}

.square.clicked {
    cursor: default;
}

.square.red {
    background-color: red;
    color: white;
    background-image: url('./virus-solid.svg');
    background-size: 66%;
    background-position: center center;
    background-repeat: no-repeat;
}

.square.n0 {
    background-color: #6cd2f9;
    color: #6cd2f9;
    position: relative;
}

.square.n0::after {
    content: "〰";
    color: rgb(36 75 146);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 11px;
}

.square.n1 {
    background: rgb(37, 128, 37);
    color: white;
}

.square.n2 {
    background: rgb(26, 167, 131);
    color: white;
}

.square.n3 {
    background: rgb(36, 75, 146);
    color: white;
}

.square.n4 {
    background: rgb(118, 20, 143);
    color: white;
}

.square.n5 {
    background: rgb(202, 131, 0);
    color: white;
}

.square.n6 {
    background: rgb(100, 211, 9);
    color: white;
}

.square.n7 {
    background: rgb(201, 38, 174);
    color: white;
}

.square.n8 {
    background: rgb(121, 0, 0);
    color: white;
}

.square.flagged {
    background-color: black !important;
}

.square:not(.clicked):hover {
    background-color: rgb(134, 134, 134);
    transform: scale(1.05);
}

.modal-container {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.342);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    display: none;
}

.modal-container.active {
    display: flex;
}

.modal {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
    padding: 1rem;
    border: 1.5rem solid rgb(185, 133, 201);
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) calc(.75em - 1px);
    position: relative;
    vertical-align: top;
    background-color: rgb(98, 1, 117);
    border-color: #dbdbdb;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    justify-content: center;
    padding: calc(.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
}

#stats {
    position: fixed;
    top: 0;
    padding: 0.25rem;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
}

@media (max-width: 420px) {
    #stats {
        font-size: 0.8rem;
    }
}

#stats span {
    color: white;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
}

#mineTotal {
    background: rgb(158, 41, 41);
}

#timer {
    background: rgb(204, 122, 0);
}

#remaining {
    background: rgb(37, 88, 37);
}

#defuse {
    background: rgb(0, 0, 0);
}

#info,
#leaderboard {
    padding: 2px 5px;
    text-align: center;
    background-color: purple;
    color: white;
    font-family: sans-serif;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
    cursor: pointer;
    position: fixed;
    bottom: 0;
}

#info {
    right: 0;
    border-radius: 10px 10px 0 10px;
}

#leaderboard {
    left: 0;
    border-radius: 10px 10px 10px 0;
}

#leaderboard .inner {
    width: 18px;
}

#info:hover,
#leaderboard:hover {
    width: 50px;
    height: 50px;
}

#scorebox {
    position: fixed;
    bottom: 0;
    padding: 5px;
    background-color: purple;
    color: white;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    border-radius: 5px 5px 0 0;
}

/* class applies to select element itself, not a wrapper element */
.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
      for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
      
    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}

.square:not(.clicked).press-timer::before {
    position: absolute;
    content: "";
    top: -15px;
    left: -25%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    width: 150%;
    height: 7px;
    background-color: red;
    animation: progress 2s forwards linear;
}

@media (max-width: 768px) {
    .press-timer::before {
        top: -20px;
    }
}

@keyframes progress {
    0% {
        width: 0%;
    }
    10% {
        width: 0%;
    }
    100% {
        width: 150%;
    }
}

table.table {
    border: 4px solid #792396;
    background-color: #FFFFFF;
    width: 350px;
    text-align: center;
    border-collapse: collapse;
  }
  table.table td, table.table th {
    border: 1px solid #555555;
    padding: 5px 2px;
  }
  table.table tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
  }
  table.table thead {
    background: #792396;
    border-bottom: 4px solid #792396;
  }
  table.table thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #792396;
  }
  table.table thead th:first-child {
    border-left: none;
  }
  
  table.table tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #CE3CFF;
    background: -moz-linear-gradient(top, #da6dff 0%, #d34fff 66%, #CE3CFF 100%);
    background: -webkit-linear-gradient(top, #da6dff 0%, #d34fff 66%, #CE3CFF 100%);
    background: linear-gradient(to bottom, #da6dff 0%, #d34fff 66%, #CE3CFF 100%);
    border-top: 5px solid #792396;
  }
  table.table tfoot td {
    font-size: 13px;
  }
  table.table tfoot .links {
    text-align: right;
  }
  table.table tfoot .links a{
    display: inline-block;
    background: #792396;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
